[Access]
# Data used to connect to the API. Modify these values with your credentials
Login = myemail@gmail.com
Password = myPassword

[Device]
# Url of the device to control
Url=modbuslink://1234-4567-6789